<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyAuth_Seller_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeyAuth_Seller_Panel.Properties.Settings>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="App1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App3" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App4" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App5" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App6" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App7" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App8" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App9" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="App10" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>YourBanerUrl</string>
                        <string>YourAppName</string>
                        <string>YourSellerKey</string>
                        <string>YourOwnerId</string>
                        <string>YourAppSecret</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProgramName" serializeAs="String">
                <value>KeyAuth Admin Panel</value>
            </setting>
            <setting name="AscentColor" serializeAs="String">
                <value>7, 127, 243</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>22, 24, 26</value>
            </setting>
        </KeyAuth_Seller_Panel.Properties.Settings>
    </userSettings>
</configuration>